html {
  scroll-behavior: smooth;
}

.d-none {
  display: none;
}

#header {
  position: fixed;
  top: 0;
}

.navbar {
  background-color: transparent;
}

.navbar-light .navbar-toggler {
  border: none;
}

.home-page-container {
  background-color: rgb(209, 122, 122);
  height: auto;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.home-title {
  font-family: inherit;
  font-size: 40px;
  font-weight: bold;
}

.about-page-container {
  background-color: rgb(121, 195, 224);
  height: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem 2rem;
}

.about-page-container > h3 {
  margin: 2rem;
}

.about-page-container > p {
  text-align: justify;
}

#about-img {
  max-width: 70vw;
  max-height: 50vh;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
}

.gallery-page-container {
  height: auto;
  min-height: 100vh;
  background-color: rgb(163, 114, 209);
  justify-content: center;
  align-items: center;
}
